[submodule "cgx/external/spdlog"]
	path = cgx/external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "cgx/external/imgui"]
	path = cgx/external/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "cgx/external/assimp"]
	path = cgx/external/assimp
	url = git@github.com:assimp/assimp.git
[submodule "cgx/external/tinyobjloader"]
	path = cgx/external/tinyobjloader
	url = git@github.com:tinyobjloader/tinyobjloader.git
