[submodule "cgx/external/spdlog"]
	path = cgx/external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "cgx/external/imgui"]
	path = cgx/external/imgui
	url = https://github.com/ocornut/imgui.git
	# url = git@github.com:ocornut/imgui.git
[submodule "cgx/external/tinyobjloader"]
	path = cgx/external/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
	# url = git@github.com:tinyobjloader/tinyobjloader.git
[submodule "cgx/external/glfw"]
	path = cgx/external/glfw
	url = https://github.com/glfw/glfw.git
	# url = git@github.com:glfw/glfw.git

